<!DOCTYPE html>
<html lang="en">
{% extends 'todo/header.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Completed</title>
</head>
<body>
<div class="body-content" style="background-image: url('{{ url_image }}');">
        <h2 class="time-info">{% now "H:i" %}, {% now "jS F" %}, {{ user.username }}</h2>
        <h3 class="title">Your tasks</h3>
<div class="todo_container">
            <div class="header-todo">
        <button onclick="location.href='{% url 'your_todos' %}'">Pending tasks</button>
        <button>Completed</button>
        <button onclick="location.href='{% url 'all_todos' %}'">All</button>
    </div>
            <ul>
                {% for todo in todos %}
                <li>

                    {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>
                    {% endif %}{% if todo.description %} <br> {{todo.description}} {% endif %}
                    <button class="btn_edit" onclick="location.href='{% url 'edit_todo' todo.id %}'" ></button>
                    {{ todo.completed_date|date:'M j Y H:i' }}
                </li>
                {% endfor %}
            </ul>
</div>
        <form method="GET">
             {% csrf_token %}
            <button onclick="location.href='{% url 'create_todo' %}'" type="button" class="btn_new_todo"></button>
        </form>
</div>
</body>
     {% endblock %}
</html>