<!DOCTYPE html>
<html lang="en">
{% extends 'todo/header.html' %}
{% block content %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Create To Do</title>
</head>
<body>
<div class="body-content">
    <div class="form_create">
        <h2>Create Todo</h2>
        <img src="{% static 'images/test5.svg' %}" alt="" class="ilust">
        <div class="input">
            <form method="POST">
                {% csrf_token %}
            <div class="inputBox">
                <label>Title</label>
                <input type="text" maxlength="110" required id="id_title" name="title" placeholder="">
            </div>
            <div class="inputBox">
                <label>Description</label>
                <textarea name="description" cols="55" rows="6" placeholder="" maxlength="210"></textarea>
            </div>

                <label for="id_important">Important</label>
                <input type="checkbox" class="checkmark" name="important" id="id_important" name="important">

            <div class="inputBox">
                <h4>{{ error }} </h4>
                <button type="submit" class="btn-confirm">Create</button>
            </div>
                </form>
        </div>
           </div>
    </div>
</body>
{% endblock %}
</html>