<!DOCTYPE html>
<html lang="en">
{% extends 'todo/header.html' %}
{% block content %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Edit</title>
</head>
<body>
<div class="body-content">
    <div class="form_create">
        <h2>Edit Todo</h2>
        <img src="test5.svg" alt="" class="ilust">
        <div class="input">
            <form method="POST">
                {% csrf_token %}
            <div class="inputBox">
                <label>Title</label>
                <input type="text" maxlength="110" required id="id_title" name="title" placeholder="" value=" {{ todo.title }}">
            </div>
            <div class="inputBox">
                <label>Description</label>
                <textarea name="description" required id="id_description" cols="52" rows="6" placeholder="" maxlength="210">{{ todo.description }}</textarea>
            </div>
                <label for="id_important">Important</label>

                <input type="checkbox" class="checkmark" name="important" id="id_important" name="important" {% if todo.important %} checked {% endif %}>


            <div class="inputBox">
                <h4>{{ error }} </h4>
                <button type="submit" class="btn-save"></button>
            </div>
                </form>
            <div class="actions-todo">
                <form method="POST" action="{% url 'complete_todo' todo.id %}">
                      {% csrf_token %}
                          <button type="submit" class="btn-complete"></button>
                </form>
            <form method="POST" action="{% url 'delete_todo' todo.id %}">
                      {% csrf_token %}
                          <button type="submit" class="btn-delete"></button>
                </form>
                  </div>
        </div>
           </div>
    </div>
</body>
{% endblock %}
</html>