<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SING UP</title>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="user singupBx">
                    <div class="formBx">

                        <form method="POST">
                            {% csrf_token %}
                            <img src="test3.svg" alt="" class="ilust">
                            <h2>Create Account</h2>

                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password1" placeholder="Create password">
                            <input type="password" name="password2" placeholder="Confirm password">
                            <h4>{{ error }} </h4>
                            <button type="submit">Sign Up</button>
                            <p class="singUp"> Do you already have an account? <a>Sign In</a></p>

                        </form>
                    </div>
                    <div class="imgBx"><img src="2.jpg" alt=""></div>
                </div>
            </div>
        </section>
    </body>

</html>