<!DOCTYPE html>
{% block content %}
<html lang="en">
{% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;900&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        <title>TO DO LIST</title>
    </head>
    <body>
        <section>
            <div class="container">
                <div class="user singupBx">
                    <div class="formBx">

                        <form method="POST">
                            {% csrf_token %}
                            <img src="{% static 'images/test3.svg' %}" alt="" class="ilust">
                            <h2>Create Account</h2>

                            <input type="text" name="username" placeholder="Username">
                            <input type="password" name="password1" placeholder="Create password">
                            <input type="password" name="password2" placeholder="Confirm password">
                            <h4>{{ error }} </h4>
                            <button type="submit">Sign Up</button>
                            <p class="singUp"> Do you already have an account? <a href="{% url 'home' %}">Sign In</a></p>

                        </form>
                    </div>
                    <div class="imgBx"><img src="{{ url_image }}" alt=""></div>
                </div>
            </div>
        </section>
    </body>
{% endblock %}
</html>