*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow-y: hidden;
}

section{
    position: relative;
    min-height: 100vh;
    background: #2573D5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

section .container{

    position: relative;
    width: 900px;
    height: 600px;
    background-color: #232323;
    box-shadow: 0 25px 50px rgba(27, 41, 163, 0.74);
    overflow: hidden;
    border-radius: 34px;
    border-width: 12px;
    border-style: solid;
}

section .container .user{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

section .container .user .imgBx{
    position: relative;
    width: 50%;
    height: 100%;
    background-color:  #ff7a4c;
    transition: 0.5s;
}

section .container .user .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .container .user .formBx{
    position: relative;
    width: 50%;
    height: 100%;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    transition: 0.5s;
}

section .container .user .formBx h2{
    color: white;
    width: 100%;
    margin-bottom: 5%;
}

section .container .user .formBx h3{
    font-weight: 400;
    font-size: 82%;
    color: rgb(160, 159, 159);
    margin-bottom: 5%;
}

section .container .user .formBx h4{
    font-weight: 400;
    font-size: 82%;
    color: #e74c3c;
    margin-bottom: 5%;
}

section .container .user .formBx .ilust{
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    align-self: center;
    display:block;
    margin:auto;
}

section .container .user .formBx form input{
    position: relative;
    width: 100%;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff7a4c;
    margin-bottom: 2.5%;
    color: white;
    height: 42px;
    font-size: 14px;
}

section .container .user .formBx form button{
    color: white;
    background-color: #2573D5;
    margin-top: 10%;
    margin-bottom: 6%;
    font-size: 15px;
    width: 30%;
    padding: 8px;
    border: none;
    border: 2px;
    border-radius: 6px;
    border-width: 1px;
}

section .container .user .formBx form p{
    color: rgb(160, 159, 159);
    text-align: center;
}

section .container .user .formBx form a{
    color: #ff7a4c;
    text-decoration: none;
}

.todo_container{
    margin-top: 3%;
    width: 32%;
    height: 60vh;
    background-color: rgba(23, 23, 23, 0.926);
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display:block;
    margin:auto;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.todo_container::-webkit-scrollbar {
    display: none;
 }


.todo_container ul{
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display:block;
    margin:auto;
    padding-left: 0px;
    background-color:  rgba(0, 0, 0, 0);
}

.todo_container ul li{
    color: aliceblue;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    display:block;
    margin:auto;
    width: 90%;
    list-style: none;
    list-style-type: none;
    background: rgba(255, 255, 255, 0.0);
    border-radius: 3px;
    margin-top: 10px;
    padding-left: 38px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 49px;
    overflow: hidden;
    box-shadow: 4px 4px 4px 0px rgba(66, 63, 61, 0.7);
    z-index: 2;
    border-bottom: 3px solid #2573D5;
}

 .btn_new_todo{
    height: 55px;
    width: 55px;
    border: none;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.233);
    background-size: cover;
    background-image: url('../images/plus2.svg');
    border-radius: 70px;
    display:block;
    margin:auto;
  }

.btn_edit{
  height: 22px;
  width: 22px;
  border: none;
  display:block;
  background-color: rgba(0, 0, 0, 0.0);
  background-size: cover;
  background-image: url("../images/pencil.svg");
  margin: 0;
  margin-left:100%;
}

.header-todo{
  background-color: black;
  color: white;
  width: 100%;
  top: 0;
}

.header-todo button{
  background-color: rgba(0, 0, 0, 0.0);
  border: 3px;
  border-color: #ff7a4c;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 30%;
  border: none;
  color: white;
}



.form_create{
    position: relative;
    width: 450px;
    padding: 30px 30px 6px;
    background-color: rgba(23, 23, 23, 0.926);
    border-radius: 10px;
    text-align: center;
    display:block;
    margin:auto;
}

.form_create h2{
    color: white;
}

.form_create .input{
    text-align: left;
    margin-top: 40px;
}

.form_create .input .inputBox{
     margin-top: 20px;
}

.form_create .input label{
    display: block;
    color:  rgb(160, 159, 159);
    margin-bottom: 5px;
}

.form_create .input .inputBox input{
    position: relative;
    width: 100%;
    padding: 8px;
    background-color:  rgba(0, 0, 0, 0);
    border: 3px;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff7a4c;
    margin-bottom: 2.5%;
    color: white;
    height: 42px;
    font-size: 14px;
}

.form_create .ilust{
    width: 50%;
    height: 50%;
    align-content: center;
    align-items: center;
    align-self: center;
    display:block;
    margin:auto;
}

.form_create textarea{
    position: relative;
    padding: 8px;
    background-color:  rgba(0, 0, 0, 0);
    border: 3px;
    border-radius: 9px;
    border-width: 1px;
    border-style: solid;
    border-color: #ff7a4c;
    margin-bottom: 2.5%;
    color: white;
    font-size: 14px;
}

.time-info{
    margin-top: 22px;
    padding-top: 24px;
    margin-bottom: 0px;
    color: white;
    text-align: center;
    font-size: 28px;
}

.title{
    color: white;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    margin-top: 3px;
}

.body-content{
  background-color: #2573D5;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 10px;
  min-height: 100%;
}

.actions-todo{
  justify-content: center;
   text-align: center;
  display: flex;
  flex-direction: row;
}

.btn-delete{
  height: 28px;
  width: 28px;
  border: none;
  display:block;
  background-color: rgba(0, 0, 0, 0.0);
  background-size: cover;
  background-image: url("../images/trash.svg");
  margin-left: 30px;
  margin-right: 16px;
  margin-top: 10px;
}

.btn-save{
  height: 38px;
  width: 38px;
  border: none;
  display:block;
  background-color: rgba(0, 0, 0, 0.0);
  background-size: cover;
  background-image: url("../images/save.svg");
  margin-left: 16px;
  margin-right: 16px;
}

.btn-complete{
  height: 28px;
  width: 28px;
  border: none;
  display:block;
  background-color: rgba(0, 0, 0, 0.0);
  background-size: cover;
  background-image: url("../images/check-circle.svg");
  margin-left: 16px;
  margin-right: 30px;
  margin-top: 10px;
}

.checkmark{
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: rgba(0, 0, 0, 0.0);
  border: 1px;
  border-radius: 9px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff7a4c;
}

.header-user{
    background-color: black;
    padding: 0;
    margin: 0;
    color: white;
    text-align: right;
}

.btn-confirm{
    color: white;
    background-color: #2573D5;
    margin-top: 2%;
    margin-bottom: 6%;
    font-size: 15px;
    width: 30%;
    padding: 6px;
    border: none;
    border: 2px;
    border-radius: 6px;
    border-width: 1px;
}

.btn-out{
  height: 26px;
  width: 26px;
  border: none;
  display:block;
  background-color: rgba(0, 0, 0, 0.0);
  background-size: cover;
  background-image: url("../images/log-out.svg");
  margin-left: 98%;
  margin-right: 30px;
  margin-top: 10px;
}

h2{
padding-right:10px;
}

.empty-todos{
  color: #ff7a4c;
  margin-top: 30%;
  font-size: 1.5em;
}